.main {
  display: flex;
  margin-top: 10vh;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  height: 400px;
  width: 800px;
}

.infoContainer {
  width: 100%;
  height: 100%;
  padding-left: 10%;
}

.currentIndex {
  display: flex;
  justify-content: flex-end;
  width: 98%;
  margin: 0;
  font-size: 25px;
}

.fullName {
  display: flex;
  justify-content: flex-start;
  font-size: 30px;
  font-weight: bold;
  text-decoration: underline;
  text-decoration-color: rgb(0, 174, 255);
}

.line1 {
  display: flex;
  justify-content: flex-start;
}

.from {
  display: flex;
  justify-content: flex-start;
  font-weight: bold;
}

.line2 {
  display: flex;
  justify-content: flex-start;
}

.job {
  display: flex;
  justify-content: flex-start;
  font-weight: bold;
}

.line3 {
  display: flex;
  justify-content: flex-start;
}

.employer {
  display: flex;
  justify-content: flex-start;
  font-weight: bold;
}

.movies {
  display: flex;
  justify-content: flex-start;
  font-weight: bold;
}
