header {
  height: 10vh;
  width: 100vw;
  background-color: rgb(0, 174, 255);
  display: flex;
  align-items: center;
  padding-left: 4vw;
  font-size: 20px;
  font-weight: bold;
}

body {
  background-color: black;
  height: 90vh;
  width: 100vw;
}
